body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  border-width: 7px;
  border-style: solid;
  
  border-image-slice: 1;
  border-color:linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);
  text-align: center;
  padding: 15px;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 20px auto; /* Center align the content and add margin as needed */
  padding: 30px;

background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);
}

.header h1 {
  margin: 0;
  font-size: 45px;
  color: #355681;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
  max-width: 1400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center align the container */

background-color: rgba(0, 0, 0, 0.6);
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.leonardo-image {
  max-width: 300px; /* Adjust the width as per your requirement */
  height: auto;
}

.content {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 5px auto; /* Center align the content and add margin as needed */
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid #F5DEB3; /* Add a border with 2px width and white color */
}

.content h2,
.content p {
  margin-top: 0;
}

.content h2 {
  font-size: 24px;
}

.content p {
  line-height: 1.6;
}

.artwork-gallery {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Increase the gap between artwork items */
  margin-top: 40px;
}

.artwork-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Set the width to fill the container */
}

.artwork-image {
  max-width: 100%; /* Make the image fill the width of the artwork item */
  height: auto;
}

.quote {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}
.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative; /* Add this */
  padding: 20px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100%;
  width: 2px;
  background: orangered;
  margin-left: -1px; /* Adjust this value to center the line */
}

.info {
  flex: 1;
  padding-left: 20px;
}

.title {
  color: orangered;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -20px;
  top: calc(50% - 5px);
  border: 2px dotted orangered;
}

